* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 0;
    text-align: center;
    z-index: 2;
}

nav .menu a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    overflow: hidden;
}

.login-container {
    background: rgba(255, 255, 255, 0.3);
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 2;
    position: relative;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 15px 20px;
    border: 2px solid transparent;
    background-color: rgba(234, 239, 240, 0.925);
    color: #fff; /* Alterei a cor da fonte para branco */
    border-radius: 30px;
    font-size: 16px;
    transition: background-color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group input:focus {
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

.msg_erro {
    color: red;
    margin-top: 10px;
}
